*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
section{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
}
#stopwatchContainer{
    border: 2px solid black;
    background-color: rgb(121, 113, 113);
    border-radius: 10px;
    /* width: 90%; */
    padding: 10px;
    min-height: 300px;
    max-width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
#timerContainer{
    /* border: 2px solid black; */
    border-radius: 10px;
    background-color: white;
    font-size: 3rem;
    text-align: center;
    padding: 10px;
    font-weight: bold;
    width: 100%;
}
#buttons{
    /* border: 2px solid black; */
    /* background-color: white; */
    border-radius: 10px;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
#lapTimes{
    /* border: 2px solid black; */
    border-radius: 10px;
    background-color: white;
    width: 100%;
    height: 250px;
    overflow-y: hidden;
}
h3{
    text-align: center;
    padding: 5px;
}
button{
    width: 80px;
    height: 45px;
    margin: 10px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    border: 2px solid black;  
    border-radius: 20px;  
}
#start{
    background-color: rgb(7, 216, 7);
}
#start:hover{
    background-color: rgb(0, 128, 0);
    transform: scale(1.05);
}
#start:disabled{
    background-color: rgb(169, 169, 169);
    cursor: not-allowed;
    transform: scale(1);
}
#stop{
    background-color: rgb(255, 0, 0);
}
#stop:hover{
    background-color: rgb(139, 0, 0);
    transform: scale(1.05);
}
#reset{
    background-color: rgb(255, 255, 0);
}
#reset:hover{
    background-color: rgb(204, 204, 0);
    transform: scale(1.05);
}
#time{
    background-color: rgb(0, 191, 255);
}
#time:hover{
    background-color: rgb(0, 112, 255);
    transform: scale(1.05);
}
#cleartimes{
    background-color: rgb(255, 165, 0);
    width: 120px;
}
#cleartimes:hover{
    background-color: rgb(255, 140, 0);
    transform: scale(1.05);
}
h3{
    border-bottom: 2px solid black;
}
/* Custom scrollbar for lap list */
#lapTimes ul::-webkit-scrollbar {
    width: 12px;
}
ul {
    height: 100%;
    overflow-y: scroll;
}
ul::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    display: none;
}

ul::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
    display: none;
}

ul::-webkit-scrollbar-thumb:hover {
    background: #555;
    display: none;
}
h3 {
    position: sticky;
    top: 0;
    background-color: white;
}
li {
    list-style: none;
    padding: 10px;
    margin: 5px 0;
    width: 100%;
    background-color: #f5f5f5;
    border-left: 4px solid #00bfff;
    border-radius: 5px;
    font-weight: 500;
    
}

li:hover {
    background-color: #e8f4f8;
    /* transform: translateX(5px); */
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}